{% if field.value is constant("App\\Entity\\Order::STATUS_NEW") %}
    Nieopłacone
{% elseif field.value is constant("App\\Entity\\Order::STATUS_PAID") %}
    Opłacone
{% elseif field.value is constant("App\\Entity\\Order::STATUS_CANCELED") %}
    Anulowane
{% endif %}