{% if field.value %}
    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\OrderCrudController')
        .setAction('detail')
        .setEntityId(field.value.id) %}
    <span class="badge badge-secondary">
        <a href="{{ url }}">{{ field.value }}</a>
    </span>
{% else %}
    brak
{% endif %}