{% for value in field.value %}
    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\OrderItemCrudController')
        .setAction('detail')
        .setEntityId(value.id) %}
    <span class="badge badge-secondary">
        <a href="{{ url }}">{{ value }}</a>
    </span>
{% else %}
    brak
{% endfor %}