@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}

@layer components {
    .description{
        @apply text-sm font-medium tracking-wider leading-8;
    }

    .description > :is(h1, h2, h3, h4){
        @apply text-xl font-bold uppercase mb-4;
    }
}