{% extends 'base.html.twig' %}

{% block title %}Twój koszyk | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto">
        {% for message in app.flashes('danger') %}
            <div class="bg-app-red text-white font-medium mb-4 py-2 px-8 mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% set formErrors = form.vars.errors.form.getErrors(true) %}

        {% if formErrors|length %}
            <div class="bg-app-red text-white font-medium mb-4 py-2 px-8 mt-4">
                <ul>
                    {% for error in formErrors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h2 class="text-center font-semibold text-2xl mb-12 uppercase mt-20">Koszyk</h2>
        <div class="grid lg:grid-cols-3 gap-4 mt-12 items-start">
            <div class="lg:col-span-2 px-4 order-2 lg:order-1">
                <p class="font-bold text-2xl mb-4 text-app-gold">Twoje produkty</p>
                {% for item in cart.items %}
                    <div class="bg-app-gray-100 p-8 mb-5 text-app-blue-300">
                        <div class="grid lg:grid-cols-4 gap-12 relative">
                            <a href="{{ path('removeItem', {id: item.id}) }}" class="text-app-gray-200 font-bold absolute -top-2 right-0">X</a>
                            <img src="{{ asset('images/products/' ~ item.product.fileName) }}" alt="{{ item.product.name }}" class="w-full h-40 object-cover">
                            <div class="col-span-3">
                                <p class="font-bold text-lg mb-3">
                                    <a href="{{ path('product', {id: item.product.id}) }}">
                                        {{ item.product.name }}
                                    </a>
                                </p>
                                <p class="text-xl font-bold text-app-gold mb-8">
                                    {{ item.product.displayPrice|format_currency('PLN', locale='pl') }}
                                </p>
                                {% if item.product.availableAsGift %}
                                    <p class="text-sm font-medium mb-2">Voucher do wykorzystania do dnia: {{ item.product.validThru?item.product.validThru|date('Y-m-d'):'Bezterminowo' }}</p>
                                    {% if item.gift %}
                                        <div class="uppercase text-sm font-medium flex items-center">
                                            <span class="fill-app-blue-300 transition-all mr-3">{% include('icons/gift.html.twig') %}</span>
                                            <span>Voucher na prezent</span>
                                        </div>
                                    {% else %}
                                        <div class="uppercase text-sm font-medium flex items-center">
                                            <span class="fill-app-blue-300 transition-all mr-3">{% include('icons/voucher.html.twig') %}</span>
                                            <span>Voucher dla Ciebie</span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <p class="font-bold text-2xl mb-4 text-app-gold mt-10">Dane osobowe</p>
                {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                {{ form_row(form._token) }}
                    <div class="mt-8">
                        <div class="grid gap-5 grid-cols-2">
                            <div>
                                {{ form_label(form.name, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                {{ form_widget(form.name, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                            </div>
                            <div>
                                {{ form_label(form.lastname, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                {{ form_widget(form.lastname, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                            </div>
                            <div class="col-span-2">
                                {{ form_label(form.phone, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                {{ form_widget(form.phone, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                            </div>
                            <div class="col-span-2">
                                {{ form_label(form.email, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                {{ form_widget(form.email, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                            </div>
                            <div class="col-span-2 p-8 bg-app-gray-100">
                                {{ form_widget(form.invoice) }}
                                {{ form_label(form.invoice, null, {'label_attr': {'class': 'font-semibold ml-1'}}) }}
                            </div>
                            <div id="invoiceFields" class="grid gap-5 grid-cols-2 col-span-2 max-h-0 opacity-0 -z-10 transition-all relative">
                                <div class="col-span-2">
                                    {{ form_label(form.company, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                    {{ form_widget(form.company, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                                </div>
                                <div class="col-span-2">
                                    {{ form_label(form.taxId, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                    {{ form_widget(form.taxId, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                                </div>
                                <div class="col-span-2">
                                    {{ form_label(form.country, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                    {{ form_widget(form.country, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                                </div>
                                <div class="col-span-2">
                                    {{ form_label(form.street, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                    {{ form_widget(form.street, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                                </div>
                                <div>
                                    {{ form_label(form.zipCode, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                    {{ form_widget(form.zipCode, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                                </div>
                                <div>
                                    {{ form_label(form.city, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                                    {{ form_widget(form.city, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="w-full bg-app-gray-200 h-px my-8"></div>
                        <div>
                            {{ form_widget(form.terms) }}
                            {{ form_label(form.terms, null, {'label_attr': {'class': 'font-semibold ml-1 text-app-gray-200 text-sm'}}) }}
                        </div>
                        <div class="flex justify-end w-full">
                            <button class="group flex items-center justify-center bg-app-blue-300 hover:bg-app-gold p-4 px-12 transition-all mt-4">
                                <span class="text-sm text-app-gold uppercase font-bold tracking-wider group-hover:text-app-blue-300 transition-all">Kupuję i płacę</span>
                                <span class="ml-2 stroke-app-gold group-hover:stroke-app-blue-300 transition-all">{% include('icons/arrows-right.html.twig') %}</span>
                            </button>
                        </div>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
            <div class="lg:col-span-1 lg:sticky lg:top-4 px-4 order-1 lg:order-2">
                <p class="font-bold text-2xl mb-4 text-app-gold">Twoje zamówienie</p>
                <div class="bg-app-gray-100 p-8">
                    <p class="font-bold text-lg">Forma dostawy:</p>
                    <p class="text-lg mb-3">E-voucher PDF</p>
                    <p class="font-bold text-lg">Forma płatności:</p>
                    <p class="text-lg mb-3">iMoje (płatności online)</p>
                    <img src="{{ asset('images/misc/imoje-dark.png') }}" alt="i-moje">
                    <div class="w-full bg-app-gray-200 h-px my-8"></div>
                    <div class="flex items-start justify-between flex-wrap">
                        <p class="font-bold text-2xl uppercase">Do zapłaty: </p>
                        <p class="font-bold text-2xl">{{ cart.totalPrice|format_currency('PLN', locale='pl') }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}

{% block scripts %}
    <script>
        let invoiceFields = document.getElementById('invoiceFields');
        let invoiceCheckbox = document.getElementById('{{ form.invoice.vars.id }}');

        invoiceCheckbox.addEventListener("change", function() {
            if (this.checked) {
                showField(invoiceFields);
            } else {
                hideField(invoiceFields);
            }
        });

        function showField(field) {
            field.classList.remove('max-h-0', 'opacity-0', '-z-10');
            field.classList.add('opacity-100');
            let fields = field.getElementsByTagName('input');
            for (const element of fields) {
                setRequired(element);
            }

        }

        function hideField(field) {
            field.classList.add('max-h-0', 'opacity-0', '-z-10');
            field.classList.remove('opacity-100');
            let fields = field.getElementsByTagName('input');
            for (const element of fields) {
                unsetRequired(element);
            }
        }

        function setRequired(field) {
            field.setAttribute('required', '');
        }

        function unsetRequired(field) {
            field.removeAttribute('required');
        }
    </script>
{% endblock %}