{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto mt-20">
        <div class="grid lg:grid-cols-3 gap-8 mb-20 place-content-center px-4">
            {% for product in category.activeProducts %}
                <div class="bg-app-gray-300">
                    <a href="{{ path('product', {id: product.id}) }}">
                        <img src="{{ asset('images/products/' ~ product.fileName) }}" alt="{{ product.name }}" class="w-full h-64 object-cover">
                    </a>
                    <div class="flex items-center justify-center">
                        <p class="bg-app-gold text-white font-bold px-4 py-2 -mt-10">{{ product.displayPrice|format_currency('PLN', locale='pl') }}</p>
                    </div>
                    <div class="p-8">
                        <h2 class="text-base font-bold border-b border-app-gold pb-4">{{ product.name }}</h2>
                        <div class="my-4 text-sm leading-8 font-medium">{{ product.shortDescription|striptags|u.truncate(200, '...', false)|raw }}</div>

                        <a href="{{ path('product', {id: product.id}) }}" class="group flex items-center justify-center w-full bg-app-blue-300 hover:bg-app-gold p-4 transition-all">
                            <span class="text-sm text-app-gold uppercase font-bold tracking-wider group-hover:text-app-blue-300 transition-all">Zobacz szczegóły</span>
                            <span class="ml-2 stroke-app-gold group-hover:stroke-app-blue-300 transition-all">{% include('icons/arrows-right.html.twig') %}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="my-2 description text-center px-4">
            {{ category.description|raw }}
        </div>
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}