{% extends 'base.html.twig' %}

{% block title %}Kontakt | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto mt-40 text-center px-4">
        <p class="text-lg mb-4 font-bold">{{ menu.settings.name }}</p>
        <p class="text-base font-medium mb-6">{{ menu.settings.address|nl2br }}</p>
        <p class="text-lg mb-2 font-bold">Tel: <a href="tel:{{ menu.settings.phone }}" class="text-app-gold">{{ menu.settings.phone }}</a></p>
        <p class="text-lg mb-6 font-bold">Email: <a href="mailto:{{ menu.settings.email }}" class="text-app-gold">{{ menu.settings.email }}</a></p>
        <p class="text-sm font-medium leading-5">NIP: {{ menu.settings.taxId }}</p>
        <p class="text-sm font-medium leading-5">Konto bankowe<br>{{ menu.settings.bankAccount }}</p>
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}