{% extends 'base.html.twig' %}

{% block title %}Znajdź zamówienie | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto">
        {% for message in app.flashes('danger') %}
            <div class="bg-app-red text-white font-medium mb-4 py-2 px-8 mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% set formErrors = form.vars.errors.form.getErrors(true) %}

        {% if formErrors|length %}
            <div class="bg-app-red text-white font-medium mb-4 py-2 px-8 mt-4">
                <ul>
                    {% for error in formErrors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <h2 class="text-center font-semibold text-2xl mb-12 uppercase mt-20">Znajdź zamówienie</h2>
        {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
        {{ form_row(form._token) }}
        <div class="mt-8">
            <div class="grid gap-5 grid-cols-2">
                <div>
                    {{ form_label(form.email, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                    {{ form_widget(form.email, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                </div>
                <div>
                    {{ form_label(form.uuid, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                    {{ form_widget(form.uuid, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-3 mt-1'}}) }}
                </div>
            </div>
            <div class="flex justify-end w-full">
                <button class="group flex items-center justify-center bg-app-blue-300 hover:bg-app-gold p-4 px-12 transition-all mt-4">
                    <span class="text-sm text-app-gold uppercase font-bold tracking-wider group-hover:text-app-blue-300 transition-all">Wyszukaj</span>
                    <span class="ml-2 stroke-app-gold group-hover:stroke-app-blue-300 transition-all">{% include('icons/arrows-right.html.twig') %}</span>
                </button>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}

        {% if order %}
            <div class="bg-app-gray-100 p-8">
                <h2 class="text-center font-semibold text-2xl mb-12 uppercase">Twoje zamówienie</h2>
                <div class="grid gap-5 lg:grid-cols-3">
                    <div class="mb-2 text-xl">
                        <p class="font-bold">Status:</p>
                    {% if order.status is constant("App\\Entity\\Order::STATUS_NEW") %}
                        <p class="text-app-blue-300">Nieopłacone</p>
                    {% elseif order.status is constant("App\\Entity\\Order::STATUS_PAID") %}
                        <p class="text-green-500">Opłacone</p>
                    {% elseif order.status is constant("App\\Entity\\Order::STATUS_CANCELED") %}
                        <p class="text-app-red">Anulowane</p>
                    {% endif %}
                    </div>
                    <div class="mb-2 text-xl">
                        <p class="font-bold">Dane kupującego:</p>
                        <p>{{ order.name }} {{ order.lastname }}</p>
                        <p>{{ order.email }}</p>
                        <p>{{ order.phone }}</p>
                    </div>
                    {% if order.invoice %}
                        <div class="mb-2 text-xl">
                            <p class="font-bold">Dane do faktury:</p>
                            <p>{{ order.company }}</p>
                            <p>NIP: {{ order.taxId }}</p>
                            <p>{{ order.street }}, {{ order.zipCode }}</p>
                            <p>{{ order.city }}, {{ order.country }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="w-full bg-app-gray-200 h-px my-8"></div>
                {% for item in order.items %}
                    <div class="bg-app-gray-100 p-8 mb-5 text-app-blue-300">
                        <div class="grid lg:grid-cols-4 gap-12 relative">
                            {% if item.product %}
                                <img src="{{ asset('images/products/' ~ item.product.fileName) }}" alt="{{ item.product.name }}" class="w-full h-40 object-cover">
                            {% endif %}
                            <div class="col-span-3">
                                <p class="font-bold text-lg mb-3">
                                    {{ item.name }}
                                </p>
                                <p class="text-xl font-bold text-app-gold mb-8">
                                    {{ item.displayPrice|format_currency('PLN', locale='pl') }}
                                </p>
                                {% if item.isUsed %}
                                    <p class="text-sm text-app-red font-medium mb-2">Voucher został już wykorzystany</p>
                                {% else %}
                                    <p class="text-sm font-medium mb-2">Voucher do wykorzystania do dnia: {{ item.validThru?item.validThru|date('Y-m-d'):'Bezterminowo' }}</p>
                                {% endif %}
                                {% if item.gift %}
                                    <div class="uppercase text-sm font-medium flex items-center">
                                        <span class="fill-app-blue-300 transition-all mr-3">{% include('icons/gift.html.twig') %}</span>
                                        <span>Voucher na prezent</span>
                                    </div>
                                {% else %}
                                    <div class="uppercase text-sm font-medium flex items-center">
                                        <span class="fill-app-blue-300 transition-all mr-3">{% include('icons/voucher.html.twig') %}</span>
                                        <span>Voucher dla Ciebie</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}