<div class="pt-8 pb-12 w-full bg-app-blue-300 mt-24">
    <div class="container mx-auto flex items-stretch justify-start flex-wrap lg:flex-nowrap">
        <div class="lg:pr-4 xl:pr-20 lg:border-r border-app-blue-100 w-full lg:w-auto text-center flex justify-center mb-4">
            <a href={{ url('home') }}>
                <img src="{{ asset('images/misc/' ~ menu.settings.fileName) }}" alt="{{ menu.settings.name }} - logo" class="w-24 h-auto">
            </a>
        </div>
        <div class="lg:pr-4 px-4 xl:px-20 lg:border-r border-app-blue-100 w-full lg:w-auto text-center lg:text-left">
            <div class="border-b border-app-blue-100 mb-4 h-16">
                <p class="text-sm xl:text-base mb-1 font-bold text-white">Tel: <a href="tel:{{ menu.settings.phone }}" class="text-app-gold">{{ menu.settings.phone }}</a></p>
                <p class="text-sm xl:text-base font-bold text-white">Email: <a href="mailto:{{ menu.settings.email }}" class="text-app-gold">{{ menu.settings.email }}</a></p>
            </div>
            <div>
                {% set current_path = app.request.get('_route') %}
                {% set current_slug = app.request.attributes.get('_route_params')|first %}
                {% for page in menu.pages %}
                    {% set active = false %}
                    {% if current_path == "static_page" and current_slug == page.slug %}
                        {% set active = true %}
                    {% endif %}
                    <p>
                        <a href="{{ path('static_page', {slug: page.slug}) }}" class="{% if active %} text-app-gold {% else %} text-white {% endif %} text-sm font-medium hover:text-app-gold transition-all text-center lg:text-left">
                            {{ page.title }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="lg:pr-4 px-4 xl:px-20 lg:border-r border-app-blue-100 w-full lg:w-auto">
            <div class="border-b border-app-blue-100 mb-4 h-16 flex items-center justify-center px-12">
                <p class="text-base mb-2 font-bold text-white uppercase text-center">Metoda płatności</p>
            </div>
            <div class="flex items-center justify-center">
                <img src="{{ asset('images/misc/imoje.png') }}" alt="i-moje">
            </div>
        </div>
        <div class="lg:pl-4 xl:pl-20 text-white text-center lg:text-left w-full lg:w-auto">
            <p class="text-sm mb-4 font-bold">{{ menu.settings.name }}</p>
            <p class="text-sm font-medium mb-6">{{ menu.settings.address|nl2br }}</p>
            <p class="text-sm font-medium leading-5">NIP: {{ menu.settings.taxId }}</p>
            <p class="text-sm font-medium leading-5">Konto bankowe<br>{{ menu.settings.bankAccount }}</p>
        </div>
    </div>
    <div class="flex items-center justify-center mt-12">
        <p class="text-app-gold">Projekt i wykonanie: <a href="https://efabryka.net/" target="_blank">eFabryka.net</a></p>
    </div>
</div>