{% extends 'base.html.twig' %}

{% block title %}{{ menu.settings.name }}{% endblock %}

{% block body %}
    <div class="min-h-screen flex flex-col items-center justify-center">
        <div class="container mx-auto px-8 sm:px-20 py-16 mt-4 bg-app-gray-100">
            <div class="flex justify-center mb-20">
                <img src="{{ asset('images/misc/' ~ menu.settings.fileName) }}" alt="{{ menu.settings.name }} - logo">
            </div>
            <div class="grid lg:grid-cols-2 gap-8">
                {% for category in menu.categories %}
                    <div class="text-center">
                        <div class="group">
                            <a href="{{ path('category', {id: category.id}) }}">
                                <img src="{{ asset('images/categories/' ~ category.fileName) }}" alt="{{ category.name }}" class="w-full h-64 sm:h-96 object-cover mb-4">
                            </a>
                            <a href="{{ path('category', {id: category.id}) }}" class="flex items-center justify-center w-full sm:w-5/6 mx-auto bg-app-blue-300 group-hover:bg-app-blue-200 -mt-12 z-10 relative p-4 transition-all">
                                <img src="{{ asset('images/categories/' ~ category.iconName) }}" alt="{{ category.name }} - icon" class="w-8 h-8 object-contain mr-4">
                                <h2 class="text-base sm:text-xl text-app-gold uppercase font-bold tracking-wider">{{ category.name }}</h2>
                            </a>
                        </div>
                        <a href="{{ path('category', {id: category.id}) }}" class="group inline-flex items-center justify-center mt-6 py-4 px-10 border border-app-gold hover:bg-app-gold transition-all">
                            <span class="text-xs font-bold uppercase tracking-wide text-app-gold group-hover:text-white">Przejdź do sklepu</span>
                            <span class="ml-6 stroke-app-gold group-hover:stroke-white">{% include('icons/arrow-right.html.twig') %}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}