{% extends 'base.html.twig' %}

{% block title %}{{ page.title }} | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto mt-20">
        <h2 class="text-center font-semibold text-2xl mb-12">{{ page.title }}</h2>
        <div class="description px-4">
            {{ page.content|raw }}
        </div>
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}