{% extends 'base.html.twig' %}

{% block title %}Dziękujemy | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto mt-20">
        <div class="description px-4 flex flex-col items-center justify-center">
            <h3 class="text-center">Dziękujemy, Twoja płatność jest w trakcie weryfikacji.</h3>
            <a href="{{ path('home') }}" class="group flex items-center justify-center w-full lg:w-1/3 bg-app-blue-300 hover:bg-app-gold p-4 transition-all">
                <span class="text-sm text-app-gold uppercase font-bold tracking-wider group-hover:text-app-blue-300 transition-all">Powrót do strony głównej</span>
                <span class="ml-2 stroke-app-gold group-hover:stroke-app-blue-300 transition-all">{% include('icons/arrows-right.html.twig') %}</span>
            </a>
        </div>
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}