{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | {{ menu.settings.name }}{% endblock %}

{% block body %}
    {% include 'front/top-menu.html.twig' %}
    <div class="container mx-auto">
        {% for message in app.flashes('danger') %}
            <div class="bg-app-red text-white font-medium mb-4 py-2 px-8 mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="w-screen h-screen bg-black/25 fixed top-0 left-0 flex items-center justify-center" id="popup">
                <div class="w-4/5 max-w-screen-sm rounded-md bg-white font-medium p-8 flex flex-col gap-4">
                    <button class="group flex items-center justify-center w-full bg-app-gold px-4 py-5 transition-all" id="continueBtn">
                        <span class="text-sm text-app-blue-300 uppercase font-bold tracking-wider transition-all">Kontynuuj zakupy</span>
                        <span class="ml-2 stroke-app-blue-300 group-hover:stroke-app-blue-300 transition-all">{% include('icons/arrows-right.html.twig') %}</span>
                    </button>

                    <a href="{{ path('cart') }}" class="group flex items-center justify-center w-full bg-app-blue-300 px-4 py-5 transition-all">
                        <span class="mr-5 stroke-app-gold transition-all">{% include('icons/cart.html.twig') %}</span>
                        <span class="text-sm text-app-gold uppercase font-bold tracking-wider transition-all">Przejdź do koszyka</span>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="grid lg:grid-cols-2 gap-12 mt-20">
            <img src="{{ asset('images/products/' ~ product.fileName) }}" alt="{{ product.name }}" class="w-full h-full object-cover">
            <div class="px-4 lg:px-0">
                <h1 class="font-bold text-2xl mb-4">{{ product.name }}</h1>
                <div class="text-sm font-medium leading-6">
                    {{ product.shortDescription|raw }}
                </div>
                <p class="text-3xl font-bold text-app-gold my-8">
                    {{ product.displayPrice|format_currency('PLN', locale='pl') }}
                </p>
                <div class="grid grid-cols-1 gap-4 w-3/4">
                    <button class="group flex items-center justify-center w-full bg-app-gold px-4 py-5 transition-all" id="buyBtn">
                        <span class="mr-5 stroke-app-blue-300 transition-all">{% include('icons/cart.html.twig') %}</span>
                        <span class="text-sm text-app-blue-300 uppercase font-bold tracking-wider transition-all">{% if product.availableAsGift %} Kup dla siebie {% else %} Kup {% endif %}</span>
                    </button>
                    {% if product.availableAsGift %}
                        <button class="group flex items-center justify-center w-full bg-app-blue-300 px-4 py-5 transition-all" id="giftBtn">
                            <span class="mr-5 fill-white transition-all">{% include('icons/gift-hand.html.twig') %}</span>
                            <span class="text-sm text-app-gold uppercase font-bold tracking-wider transition-all">Kup jako prezent</span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="max-h-0 opacity-0 -z-10 relative transition-all max-w-screen-md mx-auto" id="productForm">
            {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
            {{ form_row(form._token) }}
            <div class="hidden" id="gift">
                {{ form_widget(form.gift) }}
            </div>
            <p class="text-xl font-bold">Proszę wypełnić formularz danymi osoby lecącej</p>
            <div class="mt-8">
                <div class="grid gap-5 grid-cols-2">
                    <div id="clientName" class="max-h-0 opacity-0">
                        {{ form_label(form.clientName, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                        {{ form_widget(form.clientName, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-2'}}) }}
                    </div>
                    <div id="clientLastname" class="max-h-0 opacity-0">
                        {{ form_label(form.clientLastname, null, {'label_attr': {'class': 'font-semibold'}}) }}<span class="text-app-red ml-1">*</span>
                        {{ form_widget(form.clientLastname, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-2'}}) }}
                    </div>
                    <div class="form-group col-span-2">
                        {{ form_label(form.comments, null, {'label_attr': {'class': 'font-semibold'}}) }}
                        {{ form_widget(form.comments, {'attr': {'class': 'w-full rounded-md border border-app-gray-200 px-5 py-2', 'rows' : '7', 'placeholder': product.helpText }}) }}
                    </div>
                </div>
            </div>
            <button class="group flex items-center justify-center bg-app-blue-300 hover:bg-app-gold p-4 px-12 transition-all mt-4">
                <span class="text-sm text-app-gold uppercase font-bold tracking-wider group-hover:text-app-blue-300 transition-all">Dodaj do koszyka</span>
                <span class="ml-2 stroke-app-gold group-hover:stroke-app-blue-300 transition-all">{% include('icons/arrows-right.html.twig') %}</span>
            </button>
            {{ form_end(form, {'render_rest': false}) }}
        </div>

        <div class="mt-8 px-4 lg:px-0 border-t-2 border-b-2 border-app-gold py-8 grid lg:grid-cols-3 gap-5 text-app-blue-300">
            {% if product.place %}
                <div class="flex items-center justify-start">
                    <div class="mr-4">
                        <img src="{{ asset('images/misc/location.svg') }}" alt="Miejsce realizacji" class="h-12">
                    </div>
                    <div>
                        <p class="text-sm">Miejsce realizacji</p>
                        <p class="text-base font-bold mt-1">{{ product.place }}</p>
                    </div>
                </div>
            {% endif %}
            {% if product.peoples %}
                <div class="flex items-center justify-start">
                    <div class="mr-4">
                        <img src="{{ asset('images/misc/user.svg') }}" alt="Liczba osób" class="h-12">
                    </div>
                    <div>
                        <p class="text-sm">Liczba osób</p>
                        <p class="text-base font-bold mt-1">{{ product.peoples }}</p>
                    </div>
                </div>
            {% endif %}
            {% if product.duration %}
                <div class="flex items-center justify-start">
                    <div class="mr-4">
                        <img src="{{ asset('images/misc/clock.svg') }}" alt="Czas lotu" class="h-12">
                    </div>
                    <div>
                        <p class="text-sm">Czas lotu</p>
                        <p class="text-base font-bold mt-1">{{ product.duration }}</p>
                    </div>
                </div>
            {% endif %}
            {% if product.time %}
                <div class="flex items-center justify-start">
                    <div class="mr-4">
                        <img src="{{ asset('images/misc/calendar.svg') }}" alt="Termin realizacji lotu" class="h-12">
                    </div>
                    <div>
                        <p class="text-sm">Termin realizacji lotu</p>
                        <p class="text-base font-bold mt-1">{{ product.time }}</p>
                    </div>
                </div>
            {% endif %}
            {% if product.availableAsGift %}
                <div class="flex items-center justify-start">
                    <div class="mr-4">
                        <img src="{{ asset('images/misc/stopwatch.svg') }}" alt="Voucher ważny" class="h-12">
                    </div>
                    <div>
                        <p class="text-sm">Voucher ważny</p>
                        <p class="text-base font-bold">{{ product.validity?product.validity~' dni':'Bezterminowo' }}</p>
                    </div>
                </div>
            {% endif %}
            {% if product.weight %}
                <div class="flex items-center justify-start">
                    <div class="mr-4">
                        <img src="{{ asset('images/misc/waga.svg') }}" alt="Waga pasażera" class="h-12">
                    </div>
                    <div>
                        <p class="text-sm">Waga pasażera</p>
                        <p class="text-base font-bold">{{ product.weight }}</p>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="description mt-8 px-4 lg:px-0">
            {{ product.description|raw }}
        </div>

        <div class="grid lg:grid-cols-3 gap-6 my-16 px-4 lg:px-0">
            {% for image in product.images %}
                <img src="{{ asset('images/products/' ~ image.fileName) }}" alt="{{ product.name }}" class="w-full h-64 object-cover">
            {% endfor %}
        </div>
    </div>
    {% include 'front/footer.html.twig' %}
{% endblock %}

{% block scripts %}
<script>
    let form = document.getElementById('productForm');
    let buyBtn = document.getElementById('buyBtn');
    let giftBtn = document.getElementById('giftBtn');
    let name = document.getElementById('clientName');
    let lastName = document.getElementById('clientLastname');
    let gift = document.getElementById('{{ form.gift.vars.id }}');
    let nameInput = document.getElementById('{{ form.clientName.vars.id }}');
    let lastNameInput = document.getElementById('{{ form.clientLastname.vars.id }}');
    let popup = document.getElementById('popup');
    let continueBtn = document.getElementById('continueBtn');

    buyBtn.addEventListener("click", function() {
        showField(form)
        hideField(name)
        hideField(lastName)
        unsetRequired(nameInput)
        unsetRequired(lastNameInput)
        gift.checked = false
        scrollToForm()
    });

    giftBtn && giftBtn.addEventListener("click", function() {
        showField(form)
        showField(name)
        showField(lastName)
        setRequired(nameInput)
        setRequired(lastNameInput)
        gift.checked = true
        scrollToForm()
    });

    continueBtn && continueBtn.addEventListener("click", function() {
        popup.classList.add('hidden');
    });

    function showField(field) {
        field.classList.remove('max-h-0', 'opacity-0', '-z-10');
        field.classList.add('opacity-100');
    }

    function hideField(field) {
        field.classList.add('max-h-0', 'opacity-0', '-z-10');
        field.classList.remove('opacity-100');
    }

    function setRequired(field) {
        field.setAttribute('required', '');
    }

    function unsetRequired(field) {
        field.removeAttribute('required');
    }

    function scrollToForm() {
        let offsetTop = document.getElementById("productForm").offsetTop;

        window.scrollTo({
            top: offsetTop,
            left: 0,
            behavior: 'smooth'
        })
    }
</script>
{% endblock %}