<div class="pt-6 pb-4 w-full bg-app-blue-300">
    <div class="container mx-auto lg:flex justify-between items-end">
        {% set current_path = app.request.get('_route') %}
        {% set current_id = app.request.attributes.get('_route_params')|first %}
        <div class="flex items-center justify-between lg:hidden pl-2 pr-8">
            <a href="{{ path('contact') }}" class="uppercase font-bold text-xs {% if current_path == "contact" %} text-app-gold {% else %} text-white {% endif %} hover:text-app-gold transition-all px-2">
                Kontakt
            </a>
            <a href="{{ path('cart') }}" class="uppercase font-bold text-sm text-white pl-2 relative">
                <span class="stroke-app-gold transition-all">{% include('icons/cart.html.twig') %}</span>
                <span class="absolute -top-3 -right-3 bg-app-red rounded-full w-4 h-4 text-white text-xs font-medium flex items-center justify-center">{{ menu.cart.totalItems }}</span>
            </a>
        </div>
        <div class="flex items-center justify-center my-4 lg:my-0">
            <a href={{ url('home') }}>
                <img src="{{ asset('images/misc/' ~ menu.settings.fileName) }}" alt="{{ menu.settings.name }} - logo" class="h-20 lg:h-auto">
            </a>
        </div>
        <div class="flex items-center justify-center">
            {% for category in menu.categories %}
                {% set active = false %}
                {% if current_path == "category" and current_id == category.id %}
                    {% set active = true %}
                {% endif %}
                <a href="{{ path('category', {id: category.id}) }}" class="uppercase font-bold text-xs lg:text-sm {% if active %} text-app-gold {% else %} text-white {% endif %} hover:text-app-gold transition-all px-2 lg:px-8 {% if not loop.last %} border-r border-app-gold {% endif %}">
                    {{ category.name }}
                </a>
            {% endfor %}
            <a href="{{ path('contact') }}" class="uppercase font-bold text-xs lg:text-sm {% if current_path == "contact" %} text-app-gold {% else %} text-white {% endif %} hover:text-app-gold transition-all px-2 lg:px-8 border-r border-l border-app-gold hidden lg:block">
                Kontakt
            </a>
            <a href="{{ path('cart') }}" class="uppercase font-bold text-sm text-white pl-2 lg:pl-8 relative hidden lg:block">
                <span class="stroke-app-gold transition-all">{% include('icons/cart.html.twig') %}</span>
                <span class="absolute -top-3 -right-3 bg-app-red rounded-full w-4 h-4 text-white text-xs font-medium flex items-center justify-center">{{ menu.cart.totalItems }}</span>
            </a>
        </div>
    </div>
</div>