<h1>Nowe zamówienie w systemie</h1>

<p>W systemie pojawiło się nowe zamówienie:</p>
<p>{{ order.name }} {{ order.lastname }} | <a href="tel:{{ order.phone }}">{{ order.phone }}</a> | <a href="mailto:{{ order.email }}">{{ order.email }}</a></p>
<ul>
{% for item in order.items %}
    <li>{{ item.name }}</li>
{% endfor %}
</ul>
