<h1>Dziękujemy za zamówienie</h1>

<p>ID zamówienia: {{ order.uuid }}</p>
<br>
<p>Twoje produkty:</p>
<ul>
    {% for item in order.items %}
        <li>{{ item.name }}</li>
    {% endfor %}
</ul>

<p>W załączeniu znajdziesz vouchery na zamówione produkty w formacie PDF.</p>

<p>Informacje na temat Twojego zamówienia znajdziesz <a href="{{ absolute_url(path('findOrder')) }}" target="_blank">tutaj</a></p>