<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ asset('images/misc/' ~ menu.settings.faviconName) }}" type="image/x-icon">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if app.user is not null %}
            <div class="w-full bg-app-red text-white text-center text-xl font-bold py-2">
                Jesteś zalogowany jako administrator
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
    {% block scripts %}{% endblock %}
</html>
