<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <style>
        @page { margin: 0; }
        body { margin: 0; font-family: DejaVu Sans, serif; font-size: 14px;}
    </style>
    <title>Voucher</title>
</head>
<body style="background: url({{ absolute_url(asset('images/templates/' ~ voucher.product.template.fileName)) }});background-size:100% 100%;position:relative;">
<div style="position:absolute;top:850px;left:50px;width:250px;background:#fff;padding:10px;text-align:center;">
    {{ voucher.clientName }} {{ voucher.clientLastname }}
</div>
<div style="position:absolute;top:850px;left:350px;width:200px;background:#fff;padding:10px;text-align:center;">
    Ważny do: {{ voucher.validThru?voucher.validThru|date('Y-m-d'):'Bezterminowo' }}
</div>
<div style="position:absolute;top:800px;right:50px;width:150px;height:150px;background:#fff;">
    <img src="{{ user_qr_code(voucher.uuid) }}" alt="kod QR" style="width:150px;height:150px;">
</div>
</body>
</html>