<svg xmlns="http://www.w3.org/2000/svg" width="20.889" height="11.675" viewBox="0 0 20.889 11.675">
    <g id="Group_44" data-name="Group 44" transform="translate(1 1.404)">
        <path id="Path_72" data-name="Path 72" d="M732.354,2676.5h18.889" transform="translate(-732.354 -2671.773)" fill="none" stroke-linecap="round" stroke-width="2"/>
        <path id="Path_73" data-name="Path 73" d="M803.747,2667l3.725,4.723-3.725,4.136" transform="translate(-788.584 -2667)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </g>
</svg>