<svg xmlns="http://www.w3.org/2000/svg" width="12.179" height="10.594" viewBox="0 0 12.179 10.594">
<g id="Group_332" data-name="Group 332" transform="translate(-625.549 -848.586)">
<g id="Group_34" data-name="Group 34" transform="translate(626.963 850)">
<path id="Path_70" data-name="Path 70" d="M1120.177,321.563l3.883,3.883-3.883,3.883" transform="translate(-1120.177 -321.563)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
</g>
<g id="Group_331" data-name="Group 331" transform="translate(632.846 850)">
    <path id="Path_70-2" data-name="Path 70" d="M1120.177,321.563l3.883,3.883-3.883,3.883" transform="translate(-1120.177 -321.563)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
</g>
</g>
</svg>