<svg xmlns="http://www.w3.org/2000/svg" width="24.686" height="24.681" viewBox="0 0 24.686 24.681">
    <g id="Group_101" data-name="Group 101" transform="translate(0.5 0.5)">
        <path id="Path_33" data-name="Path 33" d="M356.809,304.5a1.011,1.011,0,0,0-.8-.392H338.921l-.6-4.387a1.424,1.424,0,0,0-1.4-1.225h-2.154a1.418,1.418,0,0,0,0,2.835h.916l1.6,12.824a1.818,1.818,0,0,0,1.806,1.608h13.894a1.815,1.815,0,0,0,1.764-1.377l2.254-9.014A1.008,1.008,0,0,0,356.809,304.5Zm-.232.768-2.254,9.014a1.385,1.385,0,0,1-1.347,1.051H339.083a1.389,1.389,0,0,1-1.379-1.229l-1.647-13.2h-1.3a.988.988,0,0,1,0-1.976h2.154a.993.993,0,0,1,.979.854l.651,4.759h17.462a.589.589,0,0,1,.57.729Z" transform="translate(-333.344 -298.498)" stroke-width="1"/>
        <path id="Path_34" data-name="Path 34" d="M347.155,341.4a2.62,2.62,0,1,0,2.62,2.62A2.623,2.623,0,0,0,347.155,341.4Zm0,4.811a2.19,2.19,0,1,1,2.19-2.19A2.193,2.193,0,0,1,347.155,346.21Z" transform="translate(-339.725 -322.959)" stroke-width="1"/>
        <path id="Path_35" data-name="Path 35" d="M369.538,341.4a2.62,2.62,0,1,0,2.62,2.62A2.623,2.623,0,0,0,369.538,341.4Zm0,4.811a2.19,2.19,0,1,1,2.19-2.19A2.193,2.193,0,0,1,369.538,346.21Z" transform="translate(-352.487 -322.959)" stroke-width="1"/>
    </g>
</svg>