<svg id="Group_367" data-name="Group 367" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30.5" height="18.289" viewBox="0 0 30.5 18.289">
    <defs>
        <clipPath id="clip-path">
            <rect id="Rectangle_277" data-name="Rectangle 277" width="30.5" height="18.289" fill="none"/>
        </clipPath>
    </defs>
    <g id="Group_366" data-name="Group 366" clip-path="url(#clip-path)">
        <path id="Path_153" data-name="Path 153" d="M30.494,2.55A2.547,2.547,0,0,0,27.91,0H15.267V0Q8.9,0,2.528,0A2.45,2.45,0,0,0,.911.6,2.506,2.506,0,0,0,0,2.62c0,4.345,0,8.69,0,13.035a3.02,3.02,0,0,0,.133.9,2.472,2.472,0,0,0,1.577,1.6A3.543,3.543,0,0,0,3,18.288q12.461,0,24.922,0a2.992,2.992,0,0,0,.77-.116A2.53,2.53,0,0,0,30.5,15.737q0-6.594-.005-13.188M23.131,1.021q2.346,0,4.693,0a1.5,1.5,0,0,1,1.491.9,1.758,1.758,0,0,1,.156.68c.012,1.537,0,3.075,0,4.612,0,.1,0,.2,0,.321-.235-.08-6.458-6.3-6.5-6.5a1.153,1.153,0,0,1,.16-.022m-3.545,0c.53,0,1.06-.01,1.589.007a.593.593,0,0,1,.367.153C22.968,2.6,24.385,4.02,25.806,5.439c1.168,1.167,2.342,2.329,3.507,3.5a.519.519,0,0,1,.156.311c.015.586.008,1.173.007,1.76a.563.563,0,0,1-.021.107c-.194-.057-8.913-8.683-10.007-9.9a1.042,1.042,0,0,1-.1-.183c.1-.008.171-.017.239-.017m9.887,14.755a1.522,1.522,0,0,1-1.463,1.485c-.351.012-.7.007-1.053.008h-11.7v0q-6.3,0-12.6,0A1.529,1.529,0,0,1,1.228,16.5a1.5,1.5,0,0,1-.18-.517,4.3,4.3,0,0,1-.026-.668q0-6.287,0-12.575a1.828,1.828,0,0,1,.193-.924A1.511,1.511,0,0,1,2.49,1.029c.2-.018.4-.007.593-.007q7.25,0,14.5.005a.552.552,0,0,1,.352.143Q20.424,3.634,22.9,6.111q2.261,2.257,4.52,4.516c.645.644,1.295,1.285,1.934,1.935a.452.452,0,0,1,.118.285c.008.976.013,1.952,0,2.928" transform="translate(0 -0.001)"/>
        <path id="Path_154" data-name="Path 154" d="M220.693,145.658H218.26q-2.778,0-5.555,0a.5.5,0,0,0-.573.522c.005.331.2.5.566.5q2,0,4,0h0q2,0,4,0a.522.522,0,0,0,.563-.52.547.547,0,0,0-.575-.5" transform="translate(-195.859 -134.484)"/>
        <path id="Path_155" data-name="Path 155" d="M218.7,175.619c-1.014,0-2.029,0-3.043,0v0c-1,0-2,0-3,0a.5.5,0,1,0-.007,1c.185.006.37,0,.555,0,1.805,0,3.611,0,5.416,0a.808.808,0,0,0,.411-.114.449.449,0,0,0,.179-.522.5.5,0,0,0-.506-.364" transform="translate(-195.845 -162.145)"/>
        <path id="Path_156" data-name="Path 156" d="M318.611,175.739a.493.493,0,1,0-.005.985.489.489,0,0,0,.5-.489.5.5,0,0,0-.5-.5" transform="translate(-293.7 -162.257)"/>
        <path id="Path_157" data-name="Path 157" d="M59.423,58.956l-1.449-.564-1.953-.76V55.39a1.113,1.113,0,0,0-.23-.846c-.039-.058-.085-.128-.124-.192-.022-.037-.078-.135-.123-.213-.153-.268-.23-.4-.476-.4s-.323.135-.476.4h0c-.034.059-.074.13-.123.211-.039.065-.085.134-.124.192a1.113,1.113,0,0,0-.229.846v2.243l-1.953.76-1.423.553a.351.351,0,0,0-.251.336v.8h0a.368.368,0,0,0,0,.051.35.35,0,0,0,.4.3l1.449-.213,1.777-.261V62.4l-.352.169-.555.266a.35.35,0,0,0-.23.329v.416h0a.344.344,0,0,0,.006.062.349.349,0,0,0,.4.282l.585-.106,1.093-.2,1.093.2.553.1a.35.35,0,0,0,.444-.337v-.416h0a.349.349,0,0,0-.2-.314l-.586-.281-.352-.169V59.957l1.777.261,1.431.21a.358.358,0,0,0,.069.007.35.35,0,0,0,.35-.35v-.8h0a.349.349,0,0,0-.223-.326m-4.355-4.52h.046a.271.271,0,0,1-.045.008c-.048-.007-.074-.011,0-.011m3.879,5.243L57.9,59.525l-2.177-.32a.35.35,0,0,0-.4.3.38.38,0,0,0,0,.051h0v3.072a.351.351,0,0,0,.23.329l.168.081-.589-.107a.346.346,0,0,0-.123,0H55l-.58.105.2-.1a.349.349,0,0,0,.2-.315h0V59.552a.35.35,0,0,0-.35-.35.363.363,0,0,0-.069.007l-2.159.317-1.048.154V59.52l1.225-.476,2.178-.847a.35.35,0,0,0,.223-.326h0V55.39c0-.292.023-.327.111-.461.033-.05.074-.112.138-.217l0,0,0,0c.064.105.1.167.138.217.089.134.112.168.112.461v2.481a.351.351,0,0,0,.251.336l2.151.837,1.225.476Z" transform="translate(-46.616 -49.614)"/>
    </g>
</svg>